/* Main */

html {
  font-family: "Lato", sans-serif;
  font-size: calc(16px + 0.2vw);
  background-color: #fdfeff;
}

body {
  color: #1e2021;
  padding: 3rem 1.4rem 2rem;
  margin: 0;
  max-width: 100%;
}

a:hover {
  box-shadow: 0px 2px 0px 0px #d1e9ff;
  outline: 2px solid transparent;
}

a:focus {
  box-shadow: 0px 0px 0px 2px #d1e9ff;
  outline: 2px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 2rem;
  margin-top: 1.6rem;
  font-weight: 300;
}

p.larger {
  font-size: 1.4rem;
}

ul,
ol {
  margin-bottom: 2rem;
  margin-top: 1.6rem;
  padding-left: 30px;
}

ul li,
ol li {
  line-height: 1.3;
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

blockquote {
  margin: 1.6rem 0 2rem 0;
  background-color: #fefefe;
}

blockquote p {
  padding: 1.6rem;
}

pre {
  margin: 1.6rem 0 2rem 0;
  white-space: normal;
}

code {
  color: #fefefe;
  background-color: #1e2021;
  padding: 0 4px;
  font-weight: 300;
  line-height: 1.6;
  font-size: 0.9rem;
}

pre code {
  display: block;
  white-space: pre;
  overflow-x: scroll;
  padding: 0 1.6rem;
}

/* Header */

.header {
  max-width: 1024px;
  margin: auto;
  display: flex;
  align-items: center;
}

.header-item + .header-item {
  padding-left: 1rem;
}

.header-item:last-child {
  margin-left: auto;
}

.header-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.header-title-link {
  text-decoration: none;
  color: #1e2021;
}

.header-description {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1rem;
}

.header-navigation {
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.header-navigation a + a {
  margin-top: 0.3rem;
}

.header-navigation a {
  color: #1e2021;
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

/* Content */

.main {
  max-width: 768px;
  margin: 3rem auto 0;
}

.main a {
  text-decoration: none;
  font-weight: 300;
  color: #1e2021;
  box-shadow: 0px 2px 0px 0px #d1e9ff;
  outline: 2px solid transparent;
}

.main a:focus {
  box-shadow: 0px 0px 0px 2px #d1e9ff;
  outline: 2px solid transparent;
}

.main b {
  font-weight: 400;
}

.pub-time {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.main img {
  max-width: 100%;
  height: auto;
}

.article-title {
  margin-bottom: 0.8rem;
}

/* Article list */

ul.article-list {
  list-style: none;
  padding-left: 0px;
}

ul.article-list li {
  line-height: 1.3;
}

ul.article-list li h2 a {
  padding: 0;
  font-weight: 900;
}

.article-list-info {
  display: block;
  margin-top: 0.5rem;
}

.article-list-title {
  font-weight: 900;
  font-size: 1.8rem;
  margin-top: 2.4rem;
}

/* Footer */

.footer {
  max-width: 1024px;
  margin: 5rem auto 1rem;
}

.footer-notes {
  font-size: 0.8rem;
  text-align: center;
}

/* Media queries */

@media only screen and (min-width: 480px) {
  .header-item + .header-item {
    padding-left: 1.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .header-navigation {
    flex-direction: row;
  }

  .header-navigation a + a {
    margin-left: 1rem;
    margin-top: 0;
  }
}
